<form action="" method="POST" id="forgotPass-form" name="forgotPass-form" {{mailID}}>
    <label for="usernameOrEmail" id="labelUsernameOrEmail" name="labelUsernameOrEmail">Enter your personal Email associated with the acoount:</label>
    <input type="text" id="usernameOrEmail" name="usernameOrEmail">
    <button type="submit">Submit</button>
    <ul id="errorList" name="errorList" > </ul>
    <p class="error" id="error" name="error"{{error}}>{{message}}</p>
</form>


<form action="/hrc/forgotpass/reset" method="POST" id="securityQuestion" name="securityQuestion" {{secQues}}>
    <p>Answer the Security Question to Reset Password</p><br>
    <p >{{securityQuestion}}</p>
    <input  name='employeeId' id="employeeId" value="{{employeeId}}" readonly hidden>
    <input type="text" id="secAnswer" name="secAnswer">
    <button type="submit">Submit</button>
    <p class="error" {{notVisible}}>{{emessage}}</p>
</form>