<h2>Users Yet to be Onboarded:</h2>
<ol class="user">
    {{#each users}}
    <li>
        <a href="/hrc/hr/onboarding/{{employeeId}}" data-employeeId="{{employeeId}}">
            <h3>{{firstName}} {{lastName}}</h3>
        </a>
        <a href="/hrc/hr/createTask/{{employeeId}}" data-employeeId="{{employeeId}}">
            <h3>Assign Task</h3>
        </a>
        <p>Email: {{contactInfo.email}}</p>
        <p>Department: {{department}}</p>
        <p>Role: {{role}}</p>
        <p>Employee Id: {{employeeId}}</p>
    </li>
    {{/each}}
</ol>
<a class="page-link" id="logoutLink" href="/hrc/logout">Logout</a>