<article>
    <h2>Task List</h2>
    <table class="taskTable">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Employee ID</th>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Due date</th>
            {{!-- <th>Completed On</th> --}}
            <th>Action</th>
        </tr>
        {{#each taskList}}
        <tr>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{username}}</td>
            <td>{{employeeId}}</td>
            <td>{{taskName}}</td>
            <td>{{taskDesc}}</td>
            <td>{{dueDate}}</td>
            <td><a href="" class="completeTask" data-id="taskId">Mark as complete</a></td>
        </tr>
        {{/each}}
    </table>
    <p>{{noDataPresentMsg}}</p>
    <script src="../../../public/js/completeTask.js"></script>
</article>
<a href="/hrc/hr">

    <button>Homepage</button>
</a>
<a class="page-link" id="logoutLink" href="/hrc/logout">Logout</a>