<form id="resign-form" name="resign-form" class="resign-form" method="POST">
  <h2>{{title}}</h2>

  <div class="straightMe loginForm">
    <h4>Following are your Employee Details</h4>
    <p>Just Enter your reason for the Resignation</p>
    <label class="highlight" for="firstName" id="labelFirstName"  >First Name:</label>
    <input
      type="text"
      class="firstName"
      id="firstName"
      name="firstName"
      value="{{firstName}}"
      readonly="readonly"
    /><br />

    <label class="highlight" for="lastName" id="labelLastName">Last Name:</label>
    <input
      type="text"
      class="lastName"
      id="lastName"
      name="lastName"
      value="{{lastName}}"
      readonly="readonly"
    /><br />

    <label class="highlight" for="employeeId" id="labelEmployeeId">Employee Id:</label>
    <input
      type="text"
      class="employeeId"
      id="employeeId"
      name="employeeId"
      value="{{employeeId}}"
      readonly="readonly"
    /><br />

    <label class="highlight" for="username" id="labelUsername">Username:</label>
    <input
      type="text"
      class="username"
      id="username"
      name="username"
      value="{{username}}"
      readonly="readonly"
    /><br />

    {{! Resignation Reason }}
    <label class="highlight" for="resignReason" id="labelResignReason">Resignation Reason:</label>
    <input
      type="text"
      class="resignReason"
      id="resignReason"
      name="resignReason"
      placeholder="Provide a reason"
    /><br />

    <ul id="errorList" name="errorList" hidden> </ul>

    <p id="error" name="error" class="error" {{hidden}}>
      {{message}}
    </p>

    <button
      type="submit"
      class="submitButton loginButton"
      id="submitButton"
      name="submitButton"
    >Submit</button><br /></div>

</form>

<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"
></script>

<script src="../../../../public/js/resign.js"></script>