<h2>Edit Profile</h2>

<form action="" method="POST" id="editForm" class="editForm">

<label for="employeeId">Employee Id:</label>
<input type="text" id="employeeId" name="employeeId" value="{{employeeId}}" readonly><br>

<label for="firstName">First Name:</label>
<input type="text" id="firstName" name="firstName" value="{{firstName}}"><br>

<label for="lastName">Last Name:</label>
<input type="text" id="lastName" name="lastName" value="{{lastName}}"><br>

<label for="gender" id="labelGender" name="labelGender">Gender:</label>
<select id="gender" name="gender">
    <option value="none" selected disabled hidden></option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Other">Other</option>
    <option value="Rather Not Say">Rather Not Say</option>
</select>
    

<label for="maritalStatus" id="labelMaritalStatus">Marital Status:</label>
    <select id="maritalStatus" name="maritalStatus">
        <option value="none" selected disabled hidden></option>
        <option value="Single">Single</option>
        <option value="Married">Married</option>
        <option value="Seperated">Seperated</option>
        <option value="Widowed">Widowed</option>
        <option value="Divorced">Divorced</option>
        <option value="Rather Not Say">Rather Not Say</option>
    </select><br>


<label for="vet" id="labelVet">Veteran:</label>
<select id="vet" name="vet" >
    <option value="none" selected disabled hidden></option>
    <option value="I self identify as a Veteran">I self identify as a Veteran</option>
    <option value="Do not wish to identify">Do not wish to identify</option>
    <option value="Not a Veteran">Not a Veteran</option>
</select><br>

<label for="disability" id="labelDisability">Disability:</label>
<select id="disability" name="disability" value{{disability}}>
    <option value="none" selected disabled hidden></option>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
    <option value="Rather Not Say">Rather Not Say</option>
</select><br>


<label for="race" id="labelRace">Race:</label>
<select id="race" name="race">
    <option value="none" selected disabled hidden></option>
    <option value="African">African</option>
    <option value="Asian">Asian</option>
    <option value="European">European</option>
    <option value="Native American">Native American</option>
    <option value="Pacific Islander">Pacific Islander</option>
    <option value="Middle Eastern">Middle Eastern</option>
    <option value="Indigenous Australian">Indigenous Australian</option>
    <option value="South Asian">South Asian</option>
    <option value="East Asian">East Asian</option>
    <option value="Hispanic/Latino">Hispanic/Latino</option>
    <option value="Arab">Arab</option>
    <option value="Polynesian">Polynesian</option>
    <option value="Melanesian">Melanesian</option>
    <option value="Indigenous Siberian">Indigenous Siberian</option>
    <option value="Maori">Maori</option>
    <option value="Inuit">Inuit</option>
    <option value="Romani">Romani</option>
    <option value="Berber">Berber</option>
    <option value="Jewish">Jewish</option>
    <option value="Afro-Latino">Afro-Latino</option>
    <option value="Rather Not Say">Rather Not Say</option>
</select><br>

 <label for="countryOfOrigin" id="labelCountryOfOrigin">Country:</label>
<select id="countryOfOrigin" name="countryOfOrigin">
    <option value="none" selected disabled hidden></option>
    <option value="Moldova">Moldova</option>
    <option value="United States">United States</option>
    <option value="Mayotte">Mayotte</option>
    <option value="Nauru">Nauru</option>
    <option value="Mozambique">Mozambique</option>
    <option value="Brazil">Brazil</option>
    <option value="Cape Verde">Cape Verde</option>
    <option value="Equatorial Guinea">Equatorial Guinea</option>
    <option value="Albania">Albania</option>
    <option value="United States Virgin Islands">United States Virgin Islands</option>
    <option value="Niue">Niue</option>
    <option value="Palau">Palau</option>
    <option value="Nigeria">Nigeria</option>
    <option value="British Virgin Islands">British Virgin Islands</option>
    <option value="Gambia">Gambia</option>
    <option value="Somalia">Somalia</option>
    <option value="Yemen">Yemen</option>
    <option value="Malaysia">Malaysia</option>
    <option value="Dominica">Dominica</option>
    <option value="United Kingdom">United Kingdom</option>
    <option value="Madagascar">Madagascar</option>
    <option value="Western Sahara">Western Sahara</option>
    <option value="Cyprus">Cyprus</option>
    <option value="Antigua and Barbuda">Antigua and Barbuda</option>
    <option value="Ireland">Ireland</option>
    <option value="Paraguay">Paraguay</option>
    <option value="Sri Lanka">Sri Lanka</option>
    <option value="South Africa">South Africa</option>
    <option value="Kuwait">Kuwait</option>
     <option value="none" selected disabled hidden></option>
    <option value="Algeria">Algeria</option>
    <option value="Croatia">Croatia</option>
    <option value="Martinique">Martinique</option>
    <option value="Sierra Leone">Sierra Leone</option>
    <option value="Northern Mariana Islands">Northern Mariana Islands</option>
    <option value="Rwanda">Rwanda</option>
    <option value="Syria">Syria</option>
    <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
    <option value="Kosovo">Kosovo</option>
    <option value="Saint Lucia">Saint Lucia</option>
    <option value="Honduras">Honduras</option>
    <option value="Jordan">Jordan</option>
    <option value="Tuvalu">Tuvalu</option>
    <option value="Nepal">Nepal</option>
    <option value="Liberia">Liberia</option>
    <option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
    <option value="Austria">Austria</option>
    <option value="Guernsey">Guernsey</option>
    <option value="Central African Republic">Central African Republic</option>
    <option value="Mauritania">Mauritania</option>
    <option value="Djibouti">Djibouti</option>
    <option value="Fiji">Fiji</option>
    <option value="Norway">Norway</option>
    <option value="Latvia">Latvia</option>
    <option value="Falkland Islands">Falkland Islands</option>
    <option value="Kazakhstan">Kazakhstan</option>
    <option value="Åland Islands">Åland Islands</option>
    <option value="Turkmenistan">Turkmenistan</option>
    <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
    <option value="Bulgaria">Bulgaria</option>
    <option value="Tokelau">Tokelau</option>
    <option value="New Caledonia">New Caledonia</option>
    <option value="Barbados">Barbados</option>
    <option value="São Tomé and Príncipe">São Tomé and Príncipe</option>
    <option value="Antarctica">Antarctica</option>
    <option value="Brunei">Brunei</option>
    <option value="Bhutan">Bhutan</option>
    <option value="Cameroon">Cameroon</option>
    <option value="Argentina">Argentina</option>
    <option value="Azerbaijan">Azerbaijan</option>
    <option value="Mexico">Mexico</option>
    <option value="Morocco">Morocco</option>
    <option value="Guatemala">Guatemala</option>
    <option value="Kenya">Kenya</option>
    <option value="Malta">Malta</option>
    <option value="Czechia">Czechia</option>
    <option value="Gibraltar">Gibraltar</option>
    <option value="Aruba">Aruba</option>
    <option value="Saint Barthélemy">Saint Barthélemy</option>
    <option value="Monaco">Monaco</option>
    <option value="United Arab Emirates">United Arab Emirates</option>
    <option value="South Sudan">South Sudan</option>
    <option value="Puerto Rico">Puerto Rico</option>
    <option value="El Salvador">El Salvador</option>
    <option value="France">France</option>
    <option value="Niger">Niger</option>
    <option value="Ivory Coast">Ivory Coast</option>
    <option value="South Georgia">South Georgia</option>
    <option value="Botswana">Botswana</option>
    <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
    <option value="Uzbekistan">Uzbekistan</option>
    <option value="Tunisia">Tunisia</option>
    <option value="Hong Kong">Hong Kong</option>
    <option value="North Macedonia">North Macedonia</option>
    <option value="Suriname">Suriname</option>
    <option value="Belgium">Belgium</option>
    <option value="American Samoa">American Samoa</option>
    <option value="Solomon Islands">Solomon Islands</option>
    <option value="Ukraine">Ukraine</option>
    <option value="Finland">Finland</option>
    <option value="Burkina Faso">Burkina Faso</option>
    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
    <option value="Iran">Iran</option>
    <option value="Cuba">Cuba</option>
    <option value="Eritrea">Eritrea</option>
    <option value="Slovakia">Slovakia</option>
    <option value="Lithuania">Lithuania</option>
    <option value="Saint Martin">Saint Martin</option>
    <option value="Pitcairn Islands">Pitcairn Islands</option>
    <option value="Guinea-Bissau">Guinea-Bissau</option>
    <option value="Montserrat">Montserrat</option>
    <option value="Turkey">Turkey</option>
    <option value="Philippines">Philippines</option>
    <option value="Vanuatu">Vanuatu</option>
    <option value="Bolivia">Bolivia</option>
    <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
    <option value="Romania">Romania</option>
    <option value="Cambodia">Cambodia</option>
    <option value="Zimbabwe">Zimbabwe</option>
    <option value="Jersey">Jersey</option>
    <option value="Kyrgyzstan">Kyrgyzstan</option>
    <option value="Caribbean Netherlands">Caribbean Netherlands</option>
    <option value="Guyana">Guyana</option>
    <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
    <option value="Armenia">Armenia</option>
    <option value="Lebanon">Lebanon</option>
    <option value="Montenegro">Montenegro</option>
    <option value="Greenland">Greenland</option>
    <option value="Papua New Guinea">Papua New Guinea</option>
    <option value="Zambia">Zambia</option>
    <option value="Trinidad and Tobago">Trinidad and Tobago</option>
    <option value="French Southern and Antarctic Lands">French Southern and Antarctic Lands</option>
    <option value="Peru">Peru</option>
    <option value="Sweden">Sweden</option>
    <option value="Sudan">Sudan</option>
    <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
    <option value="Oman">Oman</option>
    <option value="India">India</option>
    <option value="Taiwan">Taiwan</option>
    <option value="Mongolia">Mongolia</option>
    <option value="Senegal">Senegal</option>
    <option value="Tanzania">Tanzania</option>
    <option value="Canada">Canada</option>
    <option value="Costa Rica">Costa Rica</option>
    <option value="China">China</option>
    <option value="Colombia">Colombia</option>
    <option value="Myanmar">Myanmar</option>
    <option value="Russia">Russia</option>
    <option value="North Korea">North Korea</option>
    <option value="Cayman Islands">Cayman Islands</option>
    <option value="Bouvet Island">Bouvet Island</option>
    <option value="Belarus">Belarus</option>
    <option value="Portugal">Portugal</option>
    <option value="Eswatini">Eswatini</option>
    <option value="Poland">Poland</option>
    <option value="Switzerland">Switzerland</option>
    <option value="Republic of the Congo">Republic of the Congo</option>
    <option value="Venezuela">Venezuela</option>
    <option value="Panama">Panama</option>
    <option value="Netherlands">Netherlands</option>
    <option value="Samoa">Samoa</option>
    <option value="Denmark">Denmark</option>
    <option value="Luxembourg">Luxembourg</option>
    <option value="Faroe Islands">Faroe Islands</option>
    <option value="Slovenia">Slovenia</option>
    <option value="Togo">Togo</option>
    <option value="Thailand">Thailand</option>
    <option value="Wallis and Futuna">Wallis and Futuna</option>
    <option value="Bahamas">Bahamas</option>
    <option value="Tonga">Tonga</option>
    <option value="Greece">Greece</option>
    <option value="San Marino">San Marino</option>
    <option value="Réunion">Réunion</option>
    <option value="Vatican City">Vatican City</option>
    <option value="Burundi">Burundi</option>
    <option value="Bahrain">Bahrain</option>
    <option value="Marshall Islands">Marshall Islands</option>
    <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
    <option value="Isle of Man">Isle of Man</option>
    <option value="Haiti">Haiti</option>
    <option value="Afghanistan">Afghanistan</option>
    <option value="Israel">Israel</option>
    <option value="Libya">Libya</option>
    <option value="Uruguay">Uruguay</option>
    <option value="Norfolk Island">Norfolk Island</option>
    <option value="Nicaragua">Nicaragua</option>
    <option value="Cook Islands">Cook Islands</option>
    <option value="Laos">Laos</option>
    <option value="Christmas Island">Christmas Island</option>
    <option value="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option>
    <option value="Anguilla">Anguilla</option>
    <option value="Micronesia">Micronesia</option>
    <option value="Germany">Germany</option>
    <option value="Guam">Guam</option>
    <option value="Kiribati">Kiribati</option>
    <option value="Sint Maarten">Sint Maarten</option>
    <option value="Spain">Spain</option>
    <option value="Jamaica">Jamaica</option>
    <option value="Palestine">Palestine</option>
    <option value="French Guiana">French Guiana</option>
    <option value="Andorra">Andorra</option>
    <option value="Chile">Chile</option>
    <option value="Lesotho">Lesotho</option>
    <option value="Australia">Australia</option>
    <option value="Grenada">Grenada</option>
    <option value="Ghana">Ghana</option>
    <option value="Seychelles">Seychelles</option>
    <option value="Angola">Angola</option>
    <option value="Bermuda">Bermuda</option>
    <option value="Pakistan">Pakistan</option>
    <option value="Mali">Mali</option>
    <option value="Saudi Arabia">Saudi Arabia</option>
    <option value="Curaçao">Curaçao</option>
    <option value="South Korea">South Korea</option>
    <option value="Ethiopia">Ethiopia</option>
    <option value="Guadeloupe">Guadeloupe</option>
    <option value="Bangladesh">Bangladesh</option>
    <option value="New Zealand">New Zealand</option>
    <option value="Comoros">Comoros</option>
    <option value="Belize">Belize</option>
    <option value="Uganda">Uganda</option>
    <option value="Singapore">Singapore</option>
    <option value="Liechtenstein">Liechtenstein</option>
    <option value="Hungary">Hungary</option>
    <option value="Iceland">Iceland</option>
    <option value="Tajikistan">Tajikistan</option>
    <option value="Namibia">Namibia</option>
    <option value="Timor-Leste">Timor-Leste</option>
    <option value="Egypt">Egypt</option>
    <option value="Serbia">Serbia</option>
    <option value="Mauritius">Mauritius</option>
    <option value="Macau">Macau</option>
    <option value="French Polynesia">French Polynesia</option>
    <option value="Maldives">Maldives</option>
    <option value="Indonesia">Indonesia</option>
    <option value="DR Congo">DR Congo</option>
    <option value="Estonia">Estonia</option>
    <option value="Vietnam">Vietnam</option>
    <option value="Italy">Italy</option>
    <option value="Guinea">Guinea</option>
    <option value="Chad">Chad</option>
    <option value="Ecuador">Ecuador</option>
    <option value="Georgia">Georgia</option>
    <option value="Malawi">Malawi</option>
    <option value="Iraq">Iraq</option>
    <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
    <option value="Benin">Benin</option>
    <option value="Japan">Japan</option>
    <option value="Dominican Republic">Dominican Republic</option>
    <option value="Qatar">Qatar</option>
    <option value="Gabon">Gabon</option>
</select><br>


<label for="dob" id="labelDob">Date Of Birth:</label><input type="date" class="dob" id="dob" name="dob" ><br>

<label for="currentPosition">Current Position:</label>
<input type="text" id="currentPosition" name="currentPosition" value="{{currentPosition}}" disabled><br>

<label for="currentSalary">Current Salary:</label>
<input type="text" id="currentSalary" name="currentSalary" value="{{currentSalary}}" disabled><br>

<label for="startDate" id="labelStartDate">Start Date:</label>    <input type="date" class="startDate" id="startDate" name="startDate" readonly><br>

<label for="username">Username:</label>
<input type="text" id="username" name="username" value="{{username}}" disabled><br>

<label for="department" id="labelDepartment">Department:</label>
    <select id="department" name="department" disabled>
        <option value="IT">IT</option>
        <option value="Finance">Finance</option>
        <option value="Human Resources">Human Resources</option>
        <option value="Adminstration">Adminstration</option>
        <option value="Research And Development">Research And Developement</option>
        <option value="Customer Service">Customer Service</option>
    </select><br>

    <label for="role" id="labelId">Role:</label>
    <select id="role" name="role" disabled>
        <option value="Admin">Admin</option>
        <option value="HR">HR</option>
        <option value="Employee">Employee</option>
    </select><br>

<label for="status">Status:</label>
<input type="text" id="status" name="status" value="{{status}}" disabled><br>

 <label for="isManager" id="labelIsManager">Is Manager:</label>
    <input type="checkbox" id="isManager" name="isManager" value= "true" disabled><br>

<label for="phone" id="labelPhone" name="labelPhone">Phone Number:</label>
<input type="text" id="phone" name="phone" value="{{contactInfo.phone}}"><br>   

<label for="email">Email Id:</label>
<input type="text" id="email" name="email" 
value="{{contactInfo.email}}"
 readonly><br>

<label for="personalEmail" id="labelPersonalEmail" name="labelPersonalEmail">Personal Email:</label>
<input type="text" id="personalEmail" name="personalEmail" value="{{contactInfo.personalEmail}}"><br>


<label for="primaryAddress" id="labelPrimaryAddress" name="labelPrimaryAddress">Primary Address:</label>
<input type="text" id="primaryAddress" name="primaryAddress" value="{{contactInfo.primaryAddress}}"><br>

<label for="secondaryAddress" id="labelSecondaryAddress"  name="labelSecondaryAddress">Secondary Address:</label>
<input type="text" id="secondaryAddress" name="secondaryAddress" value="{{contactInfo.secondaryAddress}}"><br>

 <ul id="errorList" name="errorList" hidden> </ul>

    <p id="error" name="error" class="error" {{hidden}}>
        {{message}}
    </p>

<button type="submit">Submit</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    if("{{vet}}"){
        $('#vet').val('{{vet}}');
    }
   
    if ("{{countryOfOrigin}}") {
    $('#countryOfOrigin').val("{{countryOfOrigin}}");
    }
    
    if("{{disability}}"){
        $('#disability').val("{{disability}}");
    }
    if("{{gender}}"){
    $('#gender').val("{{gender}}");
    }
    if("{{race}}"){
        $('#race').val("{{race}}");
    }
    if("{{maritalStatus}}"){
    $('#maritalStatus').val("{{maritalStatus}}");
    }
    $('#department').val("{{department}}");
    $('#role').val("{{role}}");
    if("{{isManager}}"=== 'true'){
        $('#isManager').prop("checked",true);
    }
    $('#startDate').val("{{startDate}}");
    $('#dob').val("{{dob}}");
  </script>
  <script src="/public/js/homepage.js"></script>