{{!
You can use this template to render any errors on your site if you wish
}}
<div>
<h1>{{title}}</h1>
<p class={{class}}>{{message}}</p>
<a href="{{previous_Route}}" class="back">{{linkMessage}}</a>
</div>