<p>EmployeeId: {{employeeId}}</p>
<p>First Name: {{firstName}}</p>
<p>Last Name: {{lastName}}</p>
<p>Department: {{department}}</p>
<p>Role: {{role}}</p>
<p>Position: {{currentPosition}}</p>
<p>Start Date: {{startDate}}</p>
<p>End Date: {{endDate}}</p>

<button onclick="window.location.href='/hrc/hr/getoffboarding'">Initiate Another Offboarding</button>
<button onclick="window.location.href='/hrc/hr'">Homepage</button>