<table>
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Subject</th>
            <th>Comment</th>
            <th>Status</th>
            <th>Button</th>
        </tr>
    </thead>
    <tbody>
        {{#each leaveRequests}}
        <tr>
            <td>{{employeeID}}</td>
            <td>{{subject}}</td>
            <td>{{reason}}</td>
            <td>{{status}}</td>
            <td> <a href="/hrc/hr/leaveReq/getAll/{{objectId}}">
                    <button class="decisionButton" name="decisionButton" data-id="{{objectId}}">Decide</button>
                </a></td>
        </tr>
        {{/each}}
    </tbody>
</table>